body {
  height: 100vh;
  margin: 0;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit";
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
}

main img {
  width: 100%;
  border-radius: 8px;
}

.attribution {
  position: absolute;
  bottom: 10px;
}